.dtPagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px;
}
.dtPaginationNumbers {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 2px 2px 0px;
}
.dtPaginationNumber {
  margin: 0px 2px 0px 2px;
  font-size: 16px;
}
.dtPaginationNumber.dtPaginationSelectedNumber {
  background-color: #6354c4;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}
.dtPaginationNumber.dtPaginationSelectedNumber:hover {
  color: #6354c4;
  background-color: #eeeeee;
}
